@model UserResponse

@{
    var containerDivClass = "container";
    ViewData["Title"] = "User Details";
}

<div class="@containerDivClass">
    <h1>@ViewData["Title"]</h1>
    <hr />
</div>

@if (Model is not null)
{
    <div class="@containerDivClass">
        @if (TempData["Message"] is not null)
        {
            <p class="text-danger">
                @TempData["Message"]
            </p>
        }
        <div class="row mb-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.Username)
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.Username)
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.FullName)
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.FullName)
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.Gender)
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.Gender)
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.BirthDate)
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.BirthDate)
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.RegistrationDate)
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.Score)
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.Score)
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.Address)
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.Address)
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.IsActive)
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.IsActive)
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 fw-bold">
                @Html.DisplayNameFor(model => model.Roles)
            </div>
            <div class="col-10">
                @Model.Roles
            </div>
        </div>


        <hr />
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            &nbsp;&nbsp;
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            &nbsp;&nbsp;
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
}
else
{
    <div class="@containerDivClass">
        <p class="text-danger">User not found.</p>
        <hr />
        <a asp-action="Index">Back to List</a>
    </div>
}